extends layout

block content
  div.content
    img.indexlogo(src='/images/pja.png')
    h1 Welcome to #{title}
    p This is simple website build with JS Express with authentication and TO-DO module

