extends layout

block content
  div.content
    img.indexlogo(src='/images/pja.png')
    h1 Welcome, #{user}
    p You are seeing this page because you have sucesfully logged in!
      br
      | This is simple website build with JS Express with authentication and TO-DO module
