extends layout

block content
  div.content
    div.profilecontent
      div.profileuser
        img.profileimg(src='/images/profile.png')
        h1 Account information
        p Login: #{login}
        p Mail:  #{mail}

      div.profilepass(style='display: none')
        h1 Change information
          form(action='/profile', method='post')
            p(style='font: 16px Raleway') Change mail
            input.profileinput(name='newmail', type='String', placeholder='Type new mail...')
            p(style='font: 16px Raleway') Change password
            input.profileinput(name='newpassword', type='password', placeholder='Type new password...', required='true')
            br
            input.profileinput(name='connewpassword', type='password', placeholder='Confirm new password...', required='true')
            br
            if err
              p= err
            input.profilebutton(type="submit", value='UPDATE')